<template #countryTemplate let-countryKeyVal="item">
    <country-flag [alpha2]='countryKeyVal.key'></country-flag>
    <h5>{{ countryKeyVal.value.name.common }}</h5>
</template>

<label for="search-input" class='search-icon'>
    <i class="fa fa-search" aria-hidden="true"></i>
    <span class="sr-only">Search by Country</span>
</label>

<input id="search-input"
    [(ngModel)]="_token"
    (ngModelChange)='_onTokenChange($event)'
    (typeaheadOnSelect)="_onSelect($event)"
    [typeahead]="_dataSource"
    [typeaheadOptionField]="'value.name.common'"
    [typeaheadItemTemplate]="countryTemplate"
    class="form-control"
    placeholder="Search Country">                

<a id="search-clear" 
   href="#" 
   class="fa fa-times-circle"
   [class.hide]="_token === ''" 
   aria-hidden="true"
   (click)='_onClear()'>

    <span class="sr-only">Clear search</span>
</a>