<button type="button" 
        class="btn btn-info" 
        (click)='_onZoomIn()'
        title='Zoom In'>
    <span class="glyphicon glyphicon-zoom-in"></span>
</button>    

<button type="button" 
        class="btn btn-info" 
        (click)='_onZoomOut()'
        title='Zoom Out'>
    <span class="glyphicon glyphicon-zoom-out"></span>
</button>    

<button type="button" 
        class="btn btn-info" 
        (click)='_onBestResolution()'
        title='Best Resolution'>
        
    <span class="glyphicon glyphicon-fullscreen"></span>
</button>    

<div class='world'
     [style.width.px]='_wholeWidth'
     [style.height.px]='_wholeHeight'>

    <div *ngFor='let a2Country of countriesKeys'
        [style.top.px]='_getCountryTop(a2Country)'
        [style.left.px]='_getCountryLeft(a2Country)'
        [style.line-height.px]='13'
        class='country-flag-container'>
        
        <country-flag 
                [alpha2]='a2Country' 
                [height]='13' 
                [width]='13'>
        </country-flag>
    </div>
</div>