<div class='selected-image-container'>
    <country-flag   
        *ngIf='_selectedImage === 0'
        [alpha2]='alpha2' 
        [height]='_bigHeight'
        [width]='_bigWidth'>
    </country-flag>

    <coat-of-arms 
         *ngIf='_selectedImage === 1' 
         [alpha2]='alpha2' 
         [height]='_bigHeight'
         [width]='_bigWidth'>
    </coat-of-arms>

    <country-outline 
         *ngIf='_selectedImage === 2' 
         [alpha2]='alpha2' 
         [height]='_bigHeight'
         [width]='_bigWidth'>
    </country-outline>
</div>

<div *ngIf='!isShrinkMode' 
     class='selectable-images-container'>
    
    <country-flag   
        [alpha2]='alpha2' 
        [height]='_smallHeight'
        [width]='_smallWidth'
        [isAnimationAllowed]='false'
        (mouseenter)='_onMouseEnterFlag($event)'>
    </country-flag>

    <coat-of-arms 
         *ngIf='!isCoatOfArmsHide'
         [alpha2]='alpha2' 
         [height]='_smallHeight'
         [width]='_smallWidth'
         [isAnimationAllowed]='false'
         (mouseenter)='_onMouseEnterCoatOfArms($event)'>
    </coat-of-arms>

    <country-outline 
         *ngIf='!isOutlinesHide'
         [alpha2]='alpha2' 
         [height]='_smallHeight'
         [width]='_smallWidth'
         [isAnimationAllowed]='false'                  
         (mouseenter)='_onMouseEnterOutline($event)'>
    </country-outline>
</div>
