.country-details {
    display: inline-table;
    position: relative;
    width: 280px;
    height: 345px;

    background-color: #e4e4e4;
    padding: 20px;
    margin: 0 10px 10px 0;
    border: 1px solid gray;
}

.serial-number {
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 40px;
    height: 40px;

    text-align: center;
    font-size: 14px;
    line-height: 40px;

    border: 2px dotted rgb(55, 64, 70);
    border-right: 0;
    border-bottom: 0;
    border-radius: 13px 0 0 0;
}

.shrink-mode {
    margin: 0;    
    padding: 5px;
    width: 50px;
    height: 50px;
}

.flag-container {
    float: right;
    margin-bottom: 5px;
}

.flag-container country-flag >>> .flag {
    cursor: auto;
}

country-borders {
    display: block;
    position: absolute;
}

.country-borders-container {
    margin-bottom: 16px;
}

.md-card-title {
    font-size: 22px;
}