:host {
    display: inline-block;
}

.shuffle-on {
    color: orangered;
}

.shuffle-button-container {
    position: relative;
    font-size: 30px;
    color: white;
    margin-right: 5px;
    margin-top: 8px;
    cursor: pointer;
}

.shuffle-count {
    position: absolute;
    left: 32px;
    top: -11px;
    font-size: 15px;
    padding: 2px;
    border-radius: 6px;
    color: white;
    background-color: rgba(40, 40, 191, 0.72)
}