header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background-color: #039BE5;
}

header h1 {
    display: inline-block;
    color: white; 
    padding: 15px 0 15px 15px;   
}

.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    margin-top: -90px;        
}

.sticky-main {
    margin-top: 90px;    
}

.mode-buttons-container {
    float: right;
}

.mode-buttons-container, .sort-buttons-container {
    display: inline-block;
    font-size: 16px;
    color: white;
}

.sort-buttons-container div, .mode-buttons-container div {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}

.active-option {
    color: black;
}

.main-content-container {
    padding: 15px;
}
