header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    background-color: #039BE5;
}

header h1 {
    color: white; 
    padding: 15px 0 15px 15px;   
}

.main-content-container {
    padding: 15px;
}

.country-summary {
    display: inline-table;
    position: relative;
    width: 250px;
    height: 235px;

    background-color: #e4e4e4;
    margin: 0 10px 10px 0;
    border: 1px solid gray;
}

.flag-container {
    float: right;
    margin-bottom: 5px;
}

.flag-container app-country-flag >>> span {
    cursor: auto;
}

app-country-borders {
    display: block;
    position: absolute;
    margin-top: 16px;
}