/* You can add global styles to this file, and also import other style files */
@import '../node_modules/flag-icon-css/css/flag-icon.min.css';

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    background: #374046;
    margin: 0px !important;
}